.nice-navbar {
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left {
  display: flex;
  align-items: center;
}

.nav-title {
  margin: 0;
  margin-right: 20px;
  text-shadow: 3px 3px 6px #d5effa;
}

.nav-item {
  margin: 0 10px;
}

.code-item{
  display: flex;
}

.code-flag {
  width: 25px;
}


.navbar-right {
  display: flex;
  align-items: center;
}

.nav-item-github {
  width: 100px;
  height: 100px;
}

.item-github {
  width: 100px;
  height: 100px;
}

.github-img {
  width: 100px;
    right: 0;
    top: 0;
    position: absolute;
}